<mat-card class="login-card">
    <h1 class="login-title">Login Form</h1>
    <form [formGroup]="loginForm">

        <mat-form-field appearance="outline">
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Username or email" formControlName="email" />
        </mat-form-field>
        <span class="text-muted" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email']?.touched">
            Please enter a valid Email
        </span>

        <mat-form-field appearance="outline">
            <mat-icon matSuffix>password</mat-icon>
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password" />
        </mat-form-field>
        <span class="text-muted"
            *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password']?.touched">
            Please enter a valid Password
        </span>

        <button [disabled]="!loginForm.valid" mat-raised-button color="primary" mat-button>Sign In</button>
        <div class="not_register_yet">
           Not Register Yet ? <a routerLink="/register" > Register Here </a> 
        </div>
    </form>
</mat-card>
