.container{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px solid;
  background-color: brown;
}

/* .row{
    height: 300px;
    width: 300px;
    border: 1px solid;
    background-color:yellow ;
} */

  .nav{
    align-self: stretch;
    flex: 1 0 100%;
    border: 1px solid;
    background-color:yellow ;
}

.side-nav{
    border: 1px solid;
    background-color:yellow ;
}

.router-outlet{
    align-self: center;
    border: 1px solid;
    background-color:yellow ;

}

.footer{
    align-self: stretch;
    flex: 1 0 100%;
    border: 1px solid;
    background-color:yellow ;
}